h1 {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}

.school-name {
  font-size: 3rem;
  color: red;
}

p {
  font-size: 1.5rem;
}

.school-img {
  width: 50%;
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
}

.review-title {
  clear: both;
}

#student-img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

@media (max-width: 600px) {
  .school-name {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
  }

  #student-img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .school-img {
    width: 100%;
  }
}

* {
  background-color: skyblue;
}
